<div class="navbar bg-slate-200 shadow-lg  sm:flex items-center sm:w-full w-full">
    <div class="ms-20 w-20">
        <!-- <h2 class="text-xl font-bold">Hello</h2> -->
         <img src="assets/sap.png">
    </div>
    <div class="nav-lists ms-auto w-1/4 sm:flex justify-center  ">
        <a href="#" class="me-4 hover:border-b-2 border-cyan-600 ">Home</a>
        <a href="#" class="me-4 hover:border-b-2 border-cyan-600 ">Contact</a>
        <a href="#" class="me-4 hover:border-b-2 border-cyan-600 ">Services</a>
        <a href="#" class="hover:border-b-2 border-cyan-600">About</a>
    </div>
</div>
